// Variables
$card-width: 300px;
$card-height: 300px;
$card-radius: 15px;
$card-margin: 30px;
$primary-gradient-start: rgba(147, 55, 70, 1);
$primary-gradient-end: rgba(255, 96, 96, 1);
$text-color: white;

// Card Styles
.card {
  width: $card-width;
  height: $card-height;
  background: linear-gradient(
    0deg,
    $primary-gradient-start 0%,
    $primary-gradient-end 96%
  );
  border-radius: $card-radius;
  margin: $card-margin;
  color: $text-color;
  overflow: hidden;

  &:hover .img-loc {
    height: 0%;
  }
}

// Anchor Styles
a {
  text-decoration: none;
}

// Title Location Styles
.title-loc {
  margin: 150px 130px 0 10px;
  color: $text-color;
}

// Image Location Styles
.img-loc {
  height: 100%;
  position: relative;
  overflow: hidden;
}