// Variables
$padding-banner: 30px;
$margin-bottom-banner: 30px;
$link-color: black ;
$mobile-width: 650px;
$logo-width-mobile: 140px;
$logo-height-mobile: 60px;
$menu-margin: 10px;
$font-weight-mobile: 500;

// Banner Styles
.kasa-banner {
  padding: $padding-banner;
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 90%;
}

// Menu Puce Styles
.menuPuce {
  display: inline;
  list-style: none;
  margin: $menu-margin;
  font-weight: 500;

  > a {
    color: $link-color;
    text-decoration: none;

    &:hover {
      color: $link-color;
      text-decoration: underline;
    }

    &.active {
      text-decoration: underline;
      font-weight: bold; // Optionnel : pour un style plus distinct
    }
  }
}

// Media Queries
@media screen and (max-width: $mobile-width) {
  .kasa-logo {
    width: $logo-width-mobile;
    height: $logo-height-mobile;
    padding-top: 10px;
  }

  .menuNav {
    display: flex;
  }
.kasa-banner{
  margin-bottom: 0;
  padding:13px;
  width: 95%;

}
  .menuPuce {
    font-weight: $font-weight-mobile;
   
  }
}